.main-wrap{
    background-image: url(../img/login/login-backs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#main-content{
    width: 1000px;
    /* background: rgb(194, 194, 194); */
    margin: 0 auto;
    background: white;
    border-radius: 40px;

}
.login-head{
    width: 1000px;
    margin-top: 50px;
    font-size: 100px;
    margin: 0 auto;
    margin-top: 50px;
}

.login-head h{
    font-size: 200px;
    display: inline-block;
    color:#30c27b;
    padding: 0 20px;
    font-weight: bold;
}
.login-head p{
    font-size: 200px;
    display: inline-block;
    color:white;
    padding: 0 20px;
    font-weight: bold;
    background: #30c27b;
    transition: all 0.5s;
}
.login-head p:hover{
    color:#30c27b;
    background: none;
}
#login-head-img{

    width: 1000px;
    margin:0 auto;
}
.demo-box {
    width: 220px;
    margin: 20px auto;
    display: inline-block;
    background: #fafafa;
}
.all-login{
    border-radius: 40px;
    overflow: hidden;
    width: 1000px;
    height: 720px;
    position: relative;
    /* border: 2px solid rgb(192, 190, 190); */
    margin: 100px 0;
}
#login-video{
    display: inline-block;
    margin-bottom: 100px;
}
#login-form{
    border-radius: 20px;
    width: 600px;
    text-align: center;
    display: inline-block;
    position: relative;
    
    position: absolute;
    top: 0;

}
#login-form p{
    color: #30c27b;
    font-size: 150%;
    display: inline;
}
#login-form input{
    width: 50%;
    height: 10%;
    border-radius: 100px; 
    margin: 20px 0;
    border: none;
    border: 2px #30c27b solid;
    outline: none;
    font-size: 25px;
    padding: 10px 20px;
    overflow: hidden;
    transition: all 0.5s;
}

#login-form input:hover{
    background: #30c27b;
    border: 2px #ffffff solid;
    color: white;
}

#login-form input:last-child{
    width: 30%;
    background: #30c27b;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
#flytips{
    width: 50%;
    padding: 30px;
    margin: 0 auto;
    display: none;
    border-radius: 20px;
    background: rgb(255, 246, 231);
}
#flytips h4{
    background: #30c27b;
    border-radius: 20px;
    color: white;
    padding: 5px 10px;
    display: inline-block;
    
}
#tips{
   display: bolck;
}
#loginPassword-error{
    position: relative;
    top: -20px;
}

#tips span{
    
    width: 40px;
    height: 20px;
    color:white;
    overflow:hidden;
    background: rgb(200, 200, 200);
    padding: 5px 10px;
    border-radius: 20px;
    text-align: center;

}
 
#tips .s1{background: #F45A68;}/*红色*/
#tips .s2{background: #fc0;}/*橙色*/
#tips .s3{background: #cc0;}/*黄色*/
#tips .s4{background: #14B12F;}/*绿色*/

#logowhite{
    position: absolute;
    width: 100px;
    left: 120px;
    top: 300px;
}