#fly-nav{
    width: 100%;
    height: 700px;
    overflow-x: scroll;
    white-space: nowrap;
    overflow-x:hidden;
    padding-right:50px; 
    padding-left:150px; 
    padding-top: 100px;
}

.fly-nav{
    width: 700px;
    height: 450px;
    margin: 50px 0;
    margin-left: 50px;
    display: inline-block;
    cursor: pointer;

}

.nav-label{
    float: left;
    font-size: 20px;
    font-weight: bold;
    color: #4a0bc7;
    position: relative;
    top: -30px;
}

.nav-pic:hover{
    transition: all 0.5s;
    box-shadow:0px 10px 50px rgb(202, 202, 202);
}

#nav-pic1{
    width: 100%;
    height: 100%;
    background-image: url(../../img/artList/adele.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border-radius: 30px;
}
#nav-pic2{
    width: 100%;
    height: 100%;
    background-image: url(../../img/artList/krisWu.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border-radius: 30px;
}
#nav-pic3{
    width: 100%;
    height: 100%;
    background-image: url(../../img/artList/TaylorSwift.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border-radius: 30px;
}
#nav-pic4{
    width: 100%;
    height: 100%;
    background-image: url(../../img/artList/Dengziqi.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: 0px;
    border-radius: 30px;
}
#nav-pic5{
    width: 100%;
    height: 100%;
    background-image: url(../../img/artList/lionKing.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border-radius: 30px;
}

.nav-title{
    float: left;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-top: 10px;
    transition: all 0.5s;
}

.nav-title:hover{
    color: #ffffff;
    background: #30c27b;
    cursor: pointer;
}


#fly-albums{
    width: 100%;
    height: 600px;
    overflow-x: scroll;
    white-space: nowrap;
    overflow-x:hidden;
    padding-left: 100px;
    margin-top: 200px;
    
}

#fly-albums-ti{
    color: #ffffff;
    background: #000000;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 10px;
    transition: all 0.5s;
    width: 420px;
    margin-left: -20px;
    cursor: pointer;
}

#fly-albums-ti:hover{
    color: #000000;
    background: #3bfbba;
}

#fly-albums-ti h5{
    font-size: 20px;
    display: inline;
}

.albums{
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin-left: 100px;
    width: 400px;
}

.cover{
    width: 300px;
    height: 300px;
    background-image: url(../../img/artList/lionKing.jpg);
    background-size: cover;
    z-index: 2;
    position: relative;

}
.album-cd{
    width: 300px;
    height: 300px;
    background-image: url(../../img/home/album-cd.png);
    background-size: 100%;
    position: absolute;
    left: 100px;
    top: 0;
    z-index: 1;
    
}
.albumName{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}


#artical-list{
    width: 1200px;
    height:2000px;
    /* background: #616161; */
    margin: 0 auto;
}

#artical-list h1{
color: #4a0bc7;
}

.articals{
    height: 300px;
    width: 100%;
    background: #ffffff;
    padding: 20px 0;
    position: relative;
    transition: all 0.5s;
    border-radius: 40px;
    margin: 50px 0;
    cursor: pointer;
}

.articals:hover{
    background: #4a0bc7;
    color: white;
}

.artCover{
    background-image: url(../../img/artList/TaylorSwift.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 400px;
    height: 250px;
    position: absolute;
    border-radius: 40px;
    left: 20px;
}

.artTitle{
    font-size: 50px;
    font-weight: bold;
    position: relative;
    left: 450px;
    top: 20px;
    width: 720px;
}

.artFeedback{
    position: absolute;
    right: 70px;
    top: 220px;
    
}

.artLike{
    display: inline-block;
    margin-right: 20px;
}

.artLike img{
    margin-right: 10px;
}
.artComm{
    display: inline-block;
    margin-right: 10px;
}
.artComm img{
    margin-right: 10px;
}


/* showmusic */

#show-music{
    position: fixed;
    top:100px;
    background: #ffffff;
    box-shadow:0px 10px 50px rgb(202, 202, 202);
    width: 400px;
    height: 700px;
    left: 50%;
    margin-left: -200px;
    z-index: 1000; 
    border-radius: 40px;
    display: none;
}

#showmusic-cover{
    width: 400px;
    height: 400px;
    background-image: url(../../img/artList/Dengziqi.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 40px 40px 0 0;
}

#showmusic-infor{
    width: 400px;
}

#showmusic-infor div{
    text-align: center;
    line-height: 40px;
}

#audio{
    width: 400px;
    position: relative;
    top: -30px;
    outline: none;
}

#show-songname{
    font-weight: bold;
    font-size: 20px;
    color: #2a1048;
}

#show-songer{
    color: #2a1048;
}

#showOut{
    font-weight: bold;
    font-size: 20px;
    float: right;
    position: relative;
    top: -10px;
    right: -10px;
    cursor: pointer;
}

#showOut:hover{
    color: #ff1d74;
}

.arttypes{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
    margin-right: 10px;
    background: #30c27b;
    color: white;
    display: inline-block;
    border-radius: 100px;
}

.artLike img{
    position: relative;
    top: 5px;

}
.artComm img{
    position: relative;
    top: 5px;  
}

.artType{
    position: absolute;
    left: 450px;
    top: 200px;
}

.arttypes{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
    margin-right: 10px;
    background: #30c27b;
    color: white;
    display: inline-block;
    border-radius: 100px;
}