/* 公共部分 */
.myTitle{
    background: #30c27b;
    border-radius: 100px;
    font-size: 30px;
    text-align: center;
    color: white;
    float: left;
    width: 200px;
    height: 50px;
    font-weight: bold;
}

.more{
    font-size: 20px;
    text-align: center;
    color: #30c27b;
    float: right;
    font-weight: bold;
    cursor: pointer;
}

.arts{
    /* border:palevioletred 3px solid; */
    margin:80px auto;
    height: 540px;
    overflow: hidden;
    transition: 0.5s all;
}
.collections{
    margin:80px auto;
    height: 540px;
    overflow: hidden;
    transition: 0.5s all;
}

.artLists{
    width: 300px;
    height: 400px;
    background: linear-gradient(rgba(0,0,0,0),#30c27b);
    border-radius: 20px;
    display: inline-block;
    margin-left: 93px;
    margin-top:70px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow:0px 40px 50px rgb(202, 202, 202);
    transition: all 0.5s;
    background-position-x: center;
    background-position-y: center;

}
.collectionLists{
    
    width: 300px;
    height: 400px;
    background: linear-gradient(rgba(0,0,0,0),#30c27b);
    border-radius: 20px;
    display: inline-block;
    margin-left: 93px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow:0px 40px 50px rgb(202, 202, 202);
    transition: all 0.5s;
    background-position-x: center;
    background-position-y: center;
    margin-top:70px;

}

.artLists:hover{
    box-shadow:0px 40px 50px rgb(128, 128, 128);
    
}
.collectionLists:hover{
    box-shadow:0px 40px 50px rgb(128, 128, 128);
}

.artLists:nth-child(1){
    background-image: url(../../img/artList/1207722775.jpg);
}

.artLists:nth-child(2){
    background-image: url(../../img/artList/adele.jpg);

}

.artLists:nth-child(3){
    background-image: url(../../img/artList/jonlin.jpg);
}
.collectionLists:nth-child(1){
    background-image: url(../../img/artList/1207722775.jpg);
}

.collectionLists:nth-child(2){
    background-image: url(../../img/artList/adele.jpg);

}

.collectionLists:nth-child(3){
    background-image: url(../../img/artList/jonlin.jpg);
}

.artName{
    width: 300px;
    height: 200px;
    font-size: 40px;
    color: aliceblue;
    font-weight: bold;
    position: absolute;
    bottom: -20px;
    text-overflow:ellipsis;
    white-space : wrap;
    overflow : hidden;
    padding: 0 20px;
    background: linear-gradient(rgba(0,0,0,0),#30c27b);
    transition: all 0.5s;
    cursor: pointer;
}
.collectionName{
    width: 300px;
    height: 200px;
    font-size: 40px;
    color: aliceblue;
    font-weight: bold;
    position: absolute;
    bottom: -20px;
    text-overflow:ellipsis;
    white-space : wrap;
    overflow : hidden;
    padding: 0 20px;
    background: linear-gradient(rgba(0,0,0,0),#30c27b);
    transition: all 0.5s;
    cursor: pointer;
}

.artName:hover{
    text-decoration: underline;
    bottom: 0px;
}
.collectionName:hover{
    text-decoration: underline;
    bottom: 0px;
}
/* 公共部分 */





#avatarBack{
    width: 100%;
    height: 500px;
    margin-top: 50px;
    background-image: url(../../img/search-back.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 50px;
}

#avatar{
    width: 300px;
    height: 300px;
    margin:0 auto;
    border: 4px solid #30c27b;
    border-radius: 100%;
    background-image: url(../../img/article/avatar-default.jpg);
    background-size: inherit;
    background-repeat: no-repeat;
    cursor: pointer;
}

#username{
    margin:20px 10px auto;
    width: auto;
    font-size: 300%;
    font-weight: bold;
    color: aliceblue;
    width: 100%;
    text-align: center;

}

#fans{
    width: auto;
    margin: 0 auto;
    color: aliceblue;
    font-size: 120%;
    width: 100%;
    text-align: center;
}

#myDetail{
    width: 1300px;
    /* border: yellowgreen solid 2px; */
    margin: 0 auto;
    position: relative;
}

#myArt{
    width: 100%;
    border: white 3px solid;
    margin-top: 50px;
}

#myCollection{
    width: 100%;
    height: 500px;
    border: white 3px solid;
    margin-top: 50px;
    margin-bottom: 100px;
}

#out{
    width: 200px;
    height: 80px;
    background: rgb(255, 59, 108);
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius:100px; 
    transition: all 0.5s;
    margin:0 auto;
    outline: none;
    display: block;
    margin-bottom: 100px;
    cursor: pointer;
}

#out:hover{
    box-shadow:0px 10px 50px rgb(202, 202, 202);

}
#addfans-box{
    position: relative;
    display: block;
    top: 60%;
    left: 90%;
    width: 50px;
    height: 50px;
    background-color: white;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: top 0.2s;
    overflow: hidden;
    opacity: 0;
}
#addfans{
    position: absolute;
    width: 50px;
    height: auto;
    transition: top 0.2s;
}
#defans{
    position:absolute;
    top: 50px;
    width: 50px;
    height: auto;
    transition: top 0.2s;
}

#tips{
    margin-bottom: 10px;
    color: #30c27b;
}

#upavatar{
    position: fixed;
    top: 400px;
    width: 500px;
    border-radius: 20px;
    background: white;
    box-shadow:0px 20px 50px rgb(97, 96, 96);
    z-index: 99;
    margin-left: 50%;
    left: -250px;
    padding: 30px;
    display: none;

}

#up-cover-image{
    height: 200px;
    width: 200px;
    border: 2px solid rgb(146, 146, 146);
    border-radius: 100%;
    margin:0 auto;
    margin-top: 20px;
    
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
}

#upMusicOut{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    color: rgb(148, 148, 148);
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
}

#upMusicOut:hover{
    color: #e73d8c;
}